*{
    padding: 0;
    margin: 0;
    border: 0;
}

.map_table{
    width: 100%;
    border-top: 1px solid #3E424A;
    border-left: 1px solid #3E424A;
    color: #666666;
    font-size: 14px;
    border-collapse: collapse;
}
.map_table tr td{
    width: 200px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 20px 50px;
    border-bottom: 1px solid #3E424A;
    border-right: 1px solid #3E424A;
}
.map_table tr td.column {
    width: 20%;
    text-align: center;
    padding: 20px 0;
}

.map_table tr td a{
    color: #666666;
}

.map_table tr td a:hover{
    color: #0091FF;
}

