*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}

a{
    text-decoration: none;
}


.container{
    min-width:1280px;
    margin-top: -50px;
}

.page-content{
    width: 100%;
    text-align: center;
}


/*
轮播图
 */
.content_banner {
    width: 100%;
    height: 540px;
}

.banner_img img{
    width: 1280px;
    height: 540px;
}

.banner_img >div{
    width: 1280px;
    display: flex;
    justify-content: center;
    background-color: black!important;
    position: relative;
}

.content_banner .layui-carousel>[carousel-item]{
    position: absolute!important;
}

.layui-carousel-ind li{
    width: 40px!important;
    height: 4px!important;
    border-radius: 0!important;
    margin: 0 5px!important;
}

.layui-carousel-ind{
    position: absolute!important;
    top:unset!important;
    bottom: 20px;
}

.layui-carousel-ind ul{
    background-color: transparent!important;
    padding: 0!important;
}
.back-top{
    position: fixed;
    right: 0;
    bottom:100px;
    z-index: 9999;
}

.hide{
    display: none;
}

.back-top>a>img{
    width:60px;
    height: 60px;
}
/* ---------------------重写layuicss------------ */
.layui-tab-title{
    text-align: center;
}

.layui-tab-title {
    border-color:  rgba(255, 255, 255, 0.15) !important;
}
.layui-tab-title li{
    font-size: 16px  !important;
    margin: 0 50px !important;
    font-weight: 400 ;
    color: #2D3243 ;
    line-height: 22px ;
}


.layui-this{
    color: rgba(0, 145, 255, 1) !important;
}
.layui-this:after {
    border-bottom: 2px solid rgba(0, 145, 255, 1) !important;
}
/* ------------------------------------ */
.black-background {
    border: 0.1px solid #2D3243;
    color: #FFFFFF ;
}
.black-background .detail-title{
    color: #FFFFFF ;
}
.black-background  .layui-tab-title li{
    color: #ACACAC ;
}
.black-background  .detail-item-text-title{
    color: #FFFFFF ;
}
.black-background  .detail-item-text-content-nofloat li{
    color: #ACACAC;
}
.detail1{
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}
.detail-title{
    font-size: 32px;
    font-weight: 400;
    color: #161923;
    line-height: 45px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.detail-desc{
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #72757D;
    line-height: 25px;
}

.detail-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
	
}
.detail-item{

	display: flex;
}
.detail-item-text{
	position: relative;
	width: 500px;
    padding-left: 80px;
    /* padding-right: 60px; */
}
.detail-item-img{
    width: 640px; 
    height: 360px;
}
.detail-item-text-title{
	font-size: 21px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #161923;
	line-height: 29px;
}
.detail-item-text-desc{
    margin-top: 10px;
	font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ACACAC;
    line-height: 25px;
}
.detail-item-text-content{
	margin-top: 20px;
}
.detail-item-text-content-nofloat{
	margin-top: 20px;
}
.detail-item-text-content li{
	width: 45%;
	float: left;
	padding: 10px;
	list-style:disc
}
.detail-item-text-content-nofloat li{
	padding-top: 10px;
    margin-left: 20px;
	list-style:disc;
    font-size: 16px;
    font-weight: 400;
    color: #2D3243;
    /* line-height: px; */
}

.detail-item-text-btn{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 105px;
	height: 40px;
	margin-left: 80px;
	border-radius: 20px;
	border: 1px solid #979797;
	text-align: center;
	line-height: 40px;
}
.detail-item-text-btn:hover{
	background-color: #0091FF;

}
.detail-item-text-btn:hover a{
	color: #FFFFFF;

}
/* ----------------精度地图------------------- */
.card{
    width: 320px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}
.card-img{
    width: 320px;
    height: 180px;
}
.card-text{
    padding: 0px 50px;
}
.card-text-title{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    color: #161923;
    line-height: 29px;
}
.card-text-desc{
    font-size: 14px;
    font-weight: 400;
    color: #72757D;
    line-height: 20px;
    text-align: center;
}
/* ----------------------数据服务------------------- */
.icon-card{
    width: 320px;
    /* height: 340px; */
   /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15); */
    margin: 0 auto;
}
.icon-card-img{
    width: 88px;
    height: 88px;
    margin: 0 auto;
}
.icon-card-text{
    padding: 0px 50px;
}
.icon-card-text-title{
    /* margin-top: 30px; */
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    color: #161923;
    line-height: 29px;
}
.icon-card-text-desc{
    font-size: 14px;
    font-weight: 400;
    color: #72757D;
    line-height: 20px;
    text-align: center;
}
/* ---------------------------智能交通--------------------- */
#tab-active-background{
    max-width: 1920px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-x:right ;
    background-size:100% 100%
}
.middle-position{
    position: absolute; 
    left:80px; 
    top: 50%; 
    transform: translate(0,-50%);
}



/* --------------------------咨询页面--------------- */
.layui-layer-content{
    /* background: #ACACAC; */

}
.layui-layer-btn{
    text-align: center !important;
}
.consult-btn{
    position: fixed;
    top: 500px;
    right: 0;
    z-index: 9999;

}
.consult-content{
    width: 380px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #222222;
    line-height: 25px;
}
.consult-content-item-textarea{
    width:360px;
    height: 200px;
    padding: 10px;
    resize:none; 
    margin-top: 7px;
    margin-bottom: 20px;
    /* outline: 1px solid #72757D; */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.consult-content-item-input{
    width: 360px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 10px auto;
    padding: 10px;
}
.consult-content-empty{
    box-shadow: 0px 2px 8px 0px #f00 !important;
}
/*
ie css设置
 */
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
    .server-func  .func-underline hr{
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        margin-top: 19px ;
    }

    .product-subtitle .hr-color hr{
        width: 100px;
        height: 3px;
        background-color: #909090;
        margin-top: 19px;
        margin-left: 0px;
    }

    .content-programme .choice .choice-hr hr{
        background-color: white;
        margin-top: 31px;
    }
}
